@import "defaults.scss";
@import "variable.scss";

body{
  background: $bg;
  font-family: $font2;
}

hr{    margin: 1rem 0;
      width: 90%;margin:10px auto;
    }
    h2{
      font-size: 16px;
      font-weight: 600;
      text-align: center;color: $bg;
      line-height: 20px;
    }
    p{
      font-family: $font1;
      font-size: 16px;
      text-align: center;color: $purple;
      line-height: 25px;
    }
.container{
  filter: drop-shadow(10px 20px 30px  white);
  padding: 10px;
    width: 500px;
    margin:1em auto;
    background: white;
    border:1px solid $light;
    border-radius: 5px;
position: relative;
    .header{
      display: flex;
      padding: 10px 4px;
      justify-content: space-around;

      margin: 5px 0;
      h1{
        font-family: "Helvetica Now Display";
font-style: normal;
font-weight: 900;
font-size: 33px;
line-height: 30px;
align-items: center;
background: linear-gradient(48deg,$pinks 25.45%, rgb(6, 20, 62) 73.44%, $pinks 82.73%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
      }

    }

    .image-sect{
        width: 400px;
        margin: auto;
      img{
        width: 100%;border-radius: 20px;
        object-fit: cover;
        filter:  drop-shadow(2px 5px 8px  grey);
      }
    }

    .progress-area{

        height: 6px;
        width: 100%;border:0.1px solid rgba(0,0,0,0.4);
        background: #eeee;
        border-radius: 50px;
        margin: 10px 0;cursor: pointer;
        span{
          display: block;
          width: 0;
          height: 100%;
          background: linear-gradient($purple,$pinks 50%);
          border-radius: 50px;
        }
    }

    .time{
      display: flex;justify-content: space-around;
      width: 400px;
      margin:5px auto;
    }


.las{font-size: 2em;color:#252627;cursor: pointer;}
.la-bars{

font-size: 1em;margin: auto;
  overflow: hidden;
  color: $bg !important;
}
.la-angle-down,{
  font-size: 1em;
}
.icon{align-self: center;}
.controls{
  display: flex;justify-content: space-around;
  padding: 1em 0;

  .la-pause,.la-play{
    background: linear-gradient($purple,$pinks);
    font-size: 2em;color: white;
    padding: 5px 5px;border-radius: 100%;border:5px solid #f1f2f3;
  }

.mixin,.lists{
  align-self: center;
}
}




#play-list{
background: whitesmoke;
position: absolute;
width: 100%;
left: 0;
bottom: 0;padding: 0;
font-family: $font1 !important;
height: 350px;
overflow-y: scroll;
overflow-x: hidden;
display: none;
&::-webkit-scrollbar{
    background: $pinks;width: 8px;
    border-radius: 50px;
}
&::-webkit-scrollbar-thumb{
    background: rgb(4, 60, 60);border-radius: 10px;
    cursor: pointer;
}
.header{
  justify-content: space-between;
  padding: 5px 10px;
  position: sticky;top: 0;
  background: white;margin: 0;
  background: $pinks;
  border-top-left-radius: 5px;
    border-top-right-radius: 5px;
p{.las{color: white}}
  h3{display: flex;
span{
    color: white;
  align-self: center;
}
.las{
    color: white;
}
  }
}
.music-item{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  width: 90%;margin: 10px auto;
  cursor: pointer;
  &:last-child{
    border: 0;
  }
  h2,p{
    font-family: $font1;
    text-align: left;
    color:inherit !important;
    font-weight: 400 !important;
  }


}

.playing{
  h2,p{
    color:$pinks !important;
  }
}


}





}
