@import "defaults.scss";
@import "variable.scss";

body{
  background: $bg;
  font-family: $font2;
}

hr{    margin: 1rem 0;
      width: 90%;margin:10px auto;
    }
    h2{
      font-size: 16px;
      font-weight: 600;
      text-align: center;color: $bg;
      line-height: 20px;
    }
    p{
      font-family: $font1;
      font-size: 16px;
      text-align: center;color: $purple;
      line-height: 25px;
    }
.container{
  padding: 10px;
    width: 500px;
    margin:1em auto;
    background: white;
    border:1px solid $light;
    border-radius: 5px;
position: relative;
    .header{
      h1{
        font-family: "Helvetica Now Display";
font-style: normal;
font-weight: 900;
font-size: 33px;
line-height: 30px;
align-items: center;
background: linear-gradient(48deg, rgba(24, 13, 139, 0.5607843137) 25.45%, rgb(6, 20, 62) 73.44%, $purple 82.73%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
      }

    }

    .image-sect{
        width: 300px;
        margin: auto;
      img{
        width: 100%;border-radius: 20px;
        object-fit: cover;
      }
    }

    .progress-area{

        height: 6px;
        width: 100%;border:0.1px solid rgba(0,0,0,0.4);
        background: #eeee;
        border-radius: 50px;
        span{
          display: block;
          width: 100px;
          height: 100%;
          background: linear-gradient($purple,$pinks 50%);
          border-radius: 50px;
        }
    }

    .time{
      display: flex;justify-content: space-around;
      width: 400px;
      margin:5px auto;
    }



.controls{
.las{font-size: 2em;}
  .la-pause{
    background: linear-gradient($purple,$pinks);
    font-size: 2em;color: white;
    padding: 5px 5px;border-radius: 100%;border:5px solid #f1f2f3;
  }

}




#play-list{
background: whitesmoke;
position: absolute;
width: 100%;
left: 0;
display: none;
}





}
