$color1: rgba(59, 91, 207, 0.692);
$bg:rgb(6, 20, 62);
$purple:#6f42c1;
$pinks:#d63384;
$light:#f8f9fa;
$g: linear-gradient(48deg, rgba(24, 13, 139, 0.5607843137) 25.45%, rgb(6, 20, 62) 73.44%, $purple 82.73%);


$font1:"MuseoSansRounded-300" ;
$font2:"TrajanPro";
